h2{
    color:red;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    }

body{
    font-family: 'Montserrat', sans-serif;
    
}  

h1{
    text-align: center;
}    

.mi-lista{
    font-size: 18px;
    font-weight: bold;
}    

h1{
    font-size: 36px;
}     

p{
    font-style: italic ;
}

.negrita {
    font-weight: :bold;
}

.precio {
    background-color: gold;}

#productos img{
    width: 200px
}    


#contacto h1{
    color: red;
text-align: center;

}

input [type=text], input [type=email] , select{
    width: 215px;
    height: 20px;
    font-size: 16px;
}

.boton { 
    background-color: red;
    font-style: italic;
    color: white;
    border: 1px solid mediumslateblue;
    width: 80px;
    height: 25px;
    
}

form span {
    color: red;
}

input:focus
{
 background-color: red;
}

.boton:hover {
    background-color: seagreen;
    color: yellow;
}